{% extends 'base_prototyp.html' %}

{% block content %}
    <p></p></br>
    <h1>{% block title %} Dies sind deine Follower und Follows{% endblock %}</h1>
    <p></p></br>

    <button type="button" class="btn btn-primary" style="float:left;display:inline;margin:2%">
        Follower <span class="badge bg-secondary">{{Count_Follower}}</span>
    </button>

    <form action="/text" method="get" style="float:left;display:inline">
    {% for item1 in list1 %}
        <p>

        <li >{{ item1 }} </li>

        </p>
    {% endfor %}
    </form>

    <button type="button" class="btn btn-primary" style="float:right;display:inline;margin:2%">
        Following <span class="badge bg-secondary">{{Count_Following}}</span>
    </button>
    <form action="/text" method="get" style="float:right;display:inline">
    {% for item2 in list2 %}
        <p>
    <li> {{ item2 }} </li>
        </p>

    {% endfor %}
    </form>


    
{% endblock %}