{% extends 'base_prototyp.html' %}

{% block content %}
    <p></p></br>
    <h1>{% block title %} Willkommen beim Zwitschern {% endblock %}</h1>
    <p></p></br>
    
    <form action="/" method="POST">
        <input name="text">
        <input type="submit">
    </form>



  
    <!-- {% for item2 in item1 %} -->

    <table class="table">
        <thead>
        <tr>
            <th scope="col"> </th>
            <th scope="col">{{Name}}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">Content</th>
            <td>{{content}}</td>   
        </tr>
        <tr>     
            <th scope="row">Likes</th>
            <td>{{Likes}}</td> 
        </tr> 
        <tr>  
            <th scope="row">Shares</th>
            <td>{{Shares}}</td>
        </tr> 
        <tr>
            <th scope="row">Date</th>
            <td colspan="2">{{DateTime]}}</td>
        </tr> 
        </tbody>
    </table>
    
    

  
    <!-- {% endfor %} -->
   


{% endblock %}