{% extends 'base_prototyp.html' %}

{% block content %}
    <p></p></br>
    <h1>{% block title %} Eine Seite um Nachrichten zu erstellen{% endblock %}</h1>
    <p></p></br>
    <form action="/tweetsSend" method="POST">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Gib deine ID ein </label>
        <input name="text" class="form-control" id="exampleFormControlInput1" placeholder="ID">
        </div>
        <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Erstelle einen Tweet</label>
        <textarea name="textfield" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Senden</button>
    </div>
    </form>
  

{% endblock %}